# Reading, Scraping, and Cleaning Our Data

This notebook shows our process of data munging in more detail.

## Packages

In [2]:
# Loading in data:
import numpy as np
import pandas as pd

# Parsing:
import requests
import requests_cache
import lxml
from bs4 import BeautifulSoup
import bs4
import re

# I. Reading in the Data - Our Primary Data Source

The following cell loads are data through read_csv and takes a long time to run, about 15 minutes on our devices. We use street.h5 to import the data faster after importing the csv once here.

In [ ]:
# SHould only run the first time ever using this notebook:
parseDates = ["Opened", "Closed", "Updated"] # Convert these to datetimes
street_csv = pd.read_csv("Street_and_Sidewalk_Cleaning.csv", 
                         #nrows = 100000,
                         parse_dates=parseDates)
street.to_hdf('street.h5','table',append=False) # Convert of h5 for faster readining in later

The next cell loads the h5 and displays the first few rows of our primary data source. All of the variables can be seen here.

In [3]:
# Write h5: Run every second time and on of using this notebook
street_hdf = pd.HDFStore('street.h5')
street = street_hdf.select('/table')
street.head()

,CaseID,Opened,Closed,Status,Responsible Agency,Address,Category,Request Type,Request Details,Source,Supervisor District,Neighborhood,Updated,Point
0,322566,2008-11-30 22:56:00,2009-07-21 16:24:00,Closed,DPW Ops Queue,"1566 HYDE ST, SAN FRANCISCO, CA, 94109",Street and Sidewalk Cleaning,Sidewalk_Cleaning,Garbage,Voice In,3.0,Nob Hill,2009-07-21 16:24:00,"(37.795328529, -122.418067787)"
1,322560,2008-11-30 22:24:00,2009-07-21 16:24:00,Closed,DPW Ops Queue,Intersection of TAYLOR ST and TURK ST,Street and Sidewalk Cleaning,Illegal_Dumping,Garbage,Voice In,6.0,Downtown/Civic Center,2009-07-21 16:24:00,"(37.7832142923006, -122.410764953722)"
2,322559,2008-11-30 22:20:00,2008-12-01 06:07:00,Closed,DPW Ops Queue,"1601 SACRAMENTO ST, SAN FRANCISCO, CA, 94109",Street and Sidewalk Cleaning,Illegal_Dumping,Mattress,Voice In,3.0,Nob Hill,2008-12-01 06:07:00,"(37.791643509125, -122.419260423291)"
3,322556,2008-11-30 21:34:00,2008-12-09 08:07:00,Closed,DPW Ops Queue,Intersection of 25TH ST and LUCKY ST,Street and Sidewalk Cleaning,Sidewalk_Cleaning,Human_waste_or_urine,Voice In,9.0,Mission,2008-12-09 08:07:00,"(37.7509362479361, -122.413364630104)"
4,322545,2008-11-30 20:45:00,2009-02-03 07:09:00,Closed,DPW Ops Queue,Intersection of 19TH ST and OAKWOOD ST,Street and Sidewalk Cleaning,Sidewalk_Cleaning,Empty_cart,Voice In,8.0,Mission,2009-02-03 07:09:00,"(37.7598935230725, -122.42486308879)"

## Cleaning the data

To keep counts of requests consistent over the months and days, we remove years with incomplete data since our original data set starts in November 2008 and ends in January 2017.

In [4]:
street = street.loc[street['Opened'].dt.year != 2008]
street = street.loc[street['Opened'].dt.year != 2017]
street = street.sort_values("Opened") # Re-sort data in date order
street = street.reset_index() # Re-set the indexing
street = street.drop('index', 1) # Get rid of old index column

Some neighborhood names need to be changed to allow merging with other data sources later and to match our shape files.

In [5]:
street.ix[street.Neighborhood == "None", "Neighborhood"] = np.nan
street.ix[street.Neighborhood == "Ocean View", "Neighborhood"] = "Oceanview"
street.ix[street.Neighborhood == "Downtown/Civic Center", "Neighborhood"] = "Civic Center"
street.ix[street.Neighborhood == "St. Mary's Park", "Neighborhood"] = "St. Marys Park"
street.ix[street.Neighborhood == "Presidio", "Neighborhood"] = "Presidio Heights"

Next we create a month column for future plots and data merging.

In [6]:
street['month'] = [timestamp.month for timestamp in street.Opened]

A look of the first few rows of our cleaned data:

In [8]:
street.head()

,CaseID,Opened,Closed,Status,Responsible Agency,Address,Category,Request Type,Request Details,Source,Supervisor District,Neighborhood,Updated,Point,month
0,342509,2009-01-01 08:30:51,2009-01-01 11:07:06,Closed,DPW Ops Queue,Intersection of 13TH ST and FOLSOM ST,Street and Sidewalk Cleaning,Sidewalk_Cleaning,Encampment,Voice In,6.0,Mission,2009-01-01 11:07:06,"(37.7695911772607, -122.415577110949)",1
1,342510,2009-01-01 08:33:46,2009-01-01 11:07:06,Closed,DPW Ops Queue,Intersection of 13TH ST and FOLSOM ST,Street and Sidewalk Cleaning,Sidewalk_Cleaning,Debris_filled_carts,Voice In,6.0,Mission,2009-01-01 11:07:06,"(37.7695911772607, -122.415577110949)",1
2,342512,2009-01-01 08:44:54,2009-01-31 13:09:53,Closed,DPW Ops Queue,"467 FILLMORE ST, SAN FRANCISCO, CA, 94117",Street and Sidewalk Cleaning,Street_Cleaning,Glass,Voice In,5.0,Western Addition,2009-01-31 13:09:53,"(37.773807246, -122.431027495)",1
3,342514,2009-01-01 09:13:07,2009-01-01 11:07:06,Closed,DPW Ops Queue,Intersection of DWIGHT ST and GOETTINGEN ST,Street and Sidewalk Cleaning,Sidewalk_Cleaning,Garbage,Voice In,9.0,Excelsior,2009-01-01 11:07:06,"(37.7232896018615, -122.405086927628)",1
4,342519,2009-01-01 09:21:05,2009-01-21 06:07:13,Closed,DPW Ops Queue,"1610 MCALLISTER ST, SAN FRANCISCO, CA, 94115",Street and Sidewalk Cleaning,Sidewalk_Cleaning,Human_waste_or_urine,Voice In,5.0,Western Addition,2009-01-21 06:07:13,"(37.777956377, -122.43893262)",1

# II. Scraping - Demographic Data

In [10]:
requests_cache.install_cache('sf_cache')

In [11]:
url = "http://www.city-data.com/nbmaps/neigh-San-Francisco-California.html"
response = requests.get(url)
response.raise_for_status

neighborhoods_bs = BeautifulSoup(response.text, 'lxml')
neighborhood_names = neighborhoods_bs.find_all(name = "span", attrs={'class':'street-name'})
neighborhood_names = [name.text.replace("-", " ") for name in neighborhood_names]
neighborhood_divs = neighborhoods_bs.body.find_all(name = "div", attrs={'class':'neighborhood'})

In [12]:
def catch(line, number, simple, c = "h", complicated = False):
    """
    This function was made to catch the cases when scraping where we want NAs. If grabbing what we want from line fails, 
    then NA is returned. If number is True, then the value we are grabbing needs to be converted from a string to a number. 
    If simple is True, then the value we are scraping is right there, otherwise we need to search for a particular class which
    is the c input variable. Complicated is for the last column we are scraping where finding that class is a bit more complicated.
    """
    try:
        if number == True:
            if simple == True:
                return float(line[0].next_sibling.replace(",", "").replace("$", ""))
            
            else: 
                if complicated == False:
                    return float(line[0].next_sibling.next_sibling.find_all(class_ = c)[0].next_sibling.replace(",", "").replace(" years", "").replace("$", ""))
                else: 
                    return float(line[0].find_all_next(class_ = c)[0].next_sibling.replace(",", "").replace(" years", "").replace("$", ""))

        else:
            return line[0].next_sibling
    except:
        return np.nan

In [13]:
demographic = pd.DataFrame({
        'Neighborhood': neighborhood_names, 
        'AreaSqMi': [catch(neigh.find_all(name = "b", string = "Area:"), True, True) for neigh in neighborhood_divs] ,
        'Population': [catch(neigh.find_all(name = "b", string = "Population:"), True, True) for neigh in neighborhood_divs], 
        'PeoplePerSqMi': [catch(neigh.find_all(name = "b", string = "Population density:"), True, False) for neigh in neighborhood_divs],
        'MedHouseholdIncome': [catch(neigh.find_all(name = "b", string = "Median household income in 2015: "), True, False) for neigh in neighborhood_divs],
        'MedRent': [catch(neigh.find_all(name = "b", string = "Median rent in in 2015: "), True, False) for neigh in neighborhood_divs],
        'Males': [catch(neigh.find_all(name = "b", string = "Male vs Females"), True, False) for neigh in neighborhood_divs],
        'Females': [catch(neigh.find_all(name = "b", string = "Male vs Females"), True, False, "a") for neigh in neighborhood_divs], 
        'MedAgeM': [catch(neigh.find_all(name = "b", string = "Median age"), True, False) for neigh in neighborhood_divs],
        'MedAgeF': [catch(neigh.find_all(name = "b", string = "Median age"), True, False, "a") for neigh in neighborhood_divs],
        'HousePrice': [catch(neigh.find_all(name = "b", string = "Average estimated value of detached houses in 2015 "), True, False, complicated = True) for neigh in neighborhood_divs],
})

demographic.head()

,AreaSqMi,Females,HousePrice,Males,MedAgeF,MedAgeM,MedHouseholdIncome,MedRent,Neighborhood,PeoplePerSqMi,Population
0,0.144,2461.0,1988926.0,3916.0,38.6,35.4,93901.0,1754.0,Alamo Square,44418.0,6379.0
1,0.124,944.0,455053.0,1177.0,38.9,41.2,104697.0,1937.0,Anza Vista,17080.0,2122.0
2,0.037,96.0,1101672.0,145.0,48.2,48.4,139017.0,2014.0,Aquatic Park,6487.0,241.0
3,0.055,774.0,NaN,1365.0,35.2,35.1,134523.0,2489.0,Baja Noe,38816.0,2141.0
4,0.048,312.0,NaN,377.0,42.6,38.6,84685.0,1591.0,Balboa Park,14350.0,690.0

In [14]:
def CombineNeighs(name1, name2, newName, df):
    """
    This function takes in two neighborhood names of the demographic dataframe, combines them, 
    and changes the name.
    """
    one = df.ix[df.Neighborhood == name1]
    two = df.ix[df.Neighborhood == name2]
    one.loc[one.index, "AreaSqMi"] = (one['AreaSqMi'].values[0] + two['AreaSqMi'].values[0]) / 2
    one.loc[one.index, 'Females'] = one['Females'].values[0] + two['Females'].values[0]
    one.loc[one.index, 'HousePrice'] = (one['HousePrice'].values[0] + two['HousePrice'].values[0]) / 2
    one.loc[one.index, 'Males'] = one['Males'].values[0] + two['Males'].values[0]
    one.loc[one.index, 'MedAgeF'] = (one['MedAgeF'].values[0] + two['MedAgeF'].values[0]) / 2
    one.loc[one.index, 'MedAgeM'] = (one['MedAgeM'].values[0] + two['MedAgeM'].values[0]) / 2
    one.loc[one.index, 'MedHouseholdIncome'] = (one['MedHouseholdIncome'].values[0] + two['MedHouseholdIncome'].values[0]) / 2
    one.loc[one.index, 'PeoplePerSqMi'] = (one['PeoplePerSqMi'].values[0] + two['PeoplePerSqMi'].values[0]) / 2
    one.loc[one.index, 'Population'] = one['Population'].values[0] + two['Population'].values[0]   
    one.loc[one.index, 'Neighborhood'] = newName
    df = df.drop(one.index)
    df = df.drop(two.index)
    df = df.append(one)
    return df

In [15]:
# Clean up neighborhood names: make the demographic names match our data and shapefiles
demographic = CombineNeighs("Bayview District", "Bayview Heights", "Bayview", demographic)
demographic = CombineNeighs("Bernal Heights North", "Bernal Heights Park", "Bernal Heights1", demographic)
demographic = CombineNeighs("Bernal Heights South", "Bernal Heights", "Bernal Heights2", demographic)
demographic = CombineNeighs("Bernal Heights1", "Bernal Heights2", "Bernal Heights", demographic)
demographic = CombineNeighs("Balboa Park", "Balboa Terrace", "Balboa Terrace", demographic)
demographic = CombineNeighs("Aquatic Park", "Fort Mason", 'Aquatic Park / Ft. Mason', demographic)
demographic = CombineNeighs("Downtown", "Union Square", 'Downtown / Union Square', demographic)
demographic = CombineNeighs("Financial District", "Financial District South", "Financial District", demographic)

/home/tgordon/.local/lib/python2.7/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [16]:
demographic.loc[demographic.Neighborhood == "Buena Vista Park", "Neighborhood"] = "Buena Vista"
demographic.loc[demographic.Neighborhood == "Cayuga Terrace", "Neighborhood"] = "Cayuga"
demographic.loc[demographic.Neighborhood == "Ingleside Terrace", "Neighborhood"] = "Ingleside Terraces"
demographic.loc[demographic.Neighborhood == "Laurel Heights", "Neighborhood"] = 'Laurel Heights / Jordan Park'
demographic.loc[demographic.Neighborhood == "Lake Shore", "Neighborhood"] = 'Lakeshore'
demographic.loc[demographic.Neighborhood == "South Of Market", "Neighborhood"] = 'South of Market'
demographic.loc[demographic.Neighborhood == "North Waterfront", "Neighborhood"] = 'Northern Waterfront'
demographic.loc[demographic.Neighborhood == "St Marys Square", "Neighborhood"] = "St. Marys Park"
demographic.loc[demographic.Neighborhood == "Saint Francis Wood", "Neighborhood"] = "St. Francis Wood"
demographic.loc[demographic.Neighborhood == "Sea Cliff", "Neighborhood"] = "Seacliff"
demographic.loc[demographic.Neighborhood == "Parnassus", "Neighborhood"] = "Parnassus Heights"
demographic.loc[demographic.Neighborhood == "Park Merced", "Neighborhood"] = "Parkmerced"
demographic.loc[demographic.Neighborhood == "Mission District", "Neighborhood"] = "Mission"
demographic.loc[demographic.Neighborhood == "Marina District", "Neighborhood"] = "Marina"
demographic.loc[demographic.Neighborhood == "Mount Davidson Manor", "Neighborhood"] = "Mt. Davidson Manor"
demographic.loc[demographic.Neighborhood == "Lake", "Neighborhood"] = "Lake Street"

In [17]:
# set(street.Neighborhood.unique()) - set(demographic.Neighborhood.unique())

In [18]:
demographic

,AreaSqMi,Females,HousePrice,Males,MedAgeF,MedAgeM,MedHouseholdIncome,MedRent,Neighborhood,PeoplePerSqMi,Population
0,0.1440,2461.0,1988926.0,3916.0,38.600,35.40,93901.0,1754.0,Alamo Square,44418.00,6379.0
1,0.1240,944.0,455053.0,1177.0,38.900,41.20,104697.0,1937.0,Anza Vista,17080.00,2122.0
3,0.0550,774.0,NaN,1365.0,35.200,35.10,134523.0,2489.0,Baja Noe,38816.00,2141.0
12,0.1380,1009.0,1423695.0,1492.0,39.400,41.70,144714.0,1813.0,Buena Vista,18167.00,2502.0
13,0.5260,5261.0,1843918.0,7671.0,38.400,41.70,142771.0,1946.0,Castro,24605.00,12935.0
14,0.0950,1446.0,NaN,1510.0,58.100,47.30,64491.0,1383.0,Cathedral Hill,31073.00,2956.0
15,0.1920,2745.0,1040534.0,2383.0,45.300,39.60,75063.0,1517.0,Cayuga,26690.00,5128.0
16,0.8580,13534.0,778920.0,12590.0,46.400,40.00,79040.0,1732.0,Central Richmond,30442.00,26124.0
17,0.9340,11010.0,855173.0,9564.0,42.700,40.60,120276.0,1864.0,Central Sunset,22023.00,20573.0
18,0.1680,4496.0,NaN,4703.0,49.400,43.70,33769.0,689.0,Chinatown,54745.00,9200.0
19,0.3910,6382.0,NaN,7892.0,44.700,42.60,64841.0,1488.0,Civic Center,36530.00,14275.0
20,0.0820,418.0,1733982.0,378.0,36.400,36.70,149457.0,2086.0,Clarendon Heights,9663.00,797.0
21,0.1350,1459.0,1687465.0,1720.0,33.300,33.80,132685.0,1910.0,Cole Valley,23630.00,3180.0
22,0.1740,1554.0,1414903.0,2490.0,39.700,44.60,151866.0,2167.0,Corona Heights,23199.00,4046.0
23,0.2820,4328.0,2473001.0,3728.0,41.900,41.90,203845.0,2810.0,Cow Hollow,28546.00,8056.0
24,0.4510,4906.0,789972.0,4524.0,46.600,40.70,77157.0,1346.0,Crocker Amazon,20891.00,9430.0
25,0.0730,904.0,NaN,1412.0,36.800,35.30,78240.0,1509.0,Deco Ghetto,31621.00,2317.0
26,0.3470,966.0,1240077.0,1066.0,50.100,47.50,132299.0,1733.0,Diamond Heights,5862.00,2032.0
27,0.1750,603.0,NaN,701.0,37.400,37.60,190988.0,2894.0,Dogpatch,7444.00,1305.0
29,0.1410,1348.0,2616469.0,2417.0,37.000,42.20,135035.0,1698.0,Duboce Triangle,26679.00,3767.0
30,0.2800,843.0,NaN,906.0,45.300,42.60,94336.0,1934.0,Embarcadero,6242.00,1750.0
31,1.0730,16907.0,570545.0,17096.0,44.700,40.90,79346.0,1611.0,Excelsior,31684.00,34003.0
34,0.2220,447.0,3138999.0,515.0,50.200,41.10,98920.0,2048.0,Fisherman's Wharf,4343.00,962.0
35,0.2850,1810.0,1547069.0,1780.0,49.500,46.60,169744.0,1999.0,Forest Hill,12603.00,3590.0
36,0.3340,1620.0,1165540.0,1598.0,46.300,42.50,120245.0,2048.0,Forest Knolls,9642.00,3218.0
38,0.0020,6.0,NaN,8.0,40.100,44.60,37014.0,782.0,French Quarter,7908.00,14.0
39,0.0050,61.0,3673981.0,61.0,48.200,48.40,139017.0,2209.0,Ghirardelli Square,22707.00,123.0
40,0.3850,2964.0,1217642.0,3138.0,40.500,40.40,113197.0,2189.0,Glen Park,15847.00,6103.0
41,0.1620,1579.0,1043328.0,1561.0,44.000,42.90,153817.0,1895.0,Golden Gate Heights,19419.00,3141.0
42,1.6350,67.0,9235775.0,58.0,37.900,37.70,57937.0,1303.0,Golden Gate Park,76.00,125.0
...,...,...,...,...,...,...,...,...,...,...,...
122,0.0110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Park,NaN,NaN
123,0.0220,307.0,871471.0,304.0,36.600,36.40,83831.0,733.0,St. Marys Park,27414.00,611.0
124,0.5900,3737.0,NaN,2400.0,29.500,29.90,40799.0,1817.0,Stonestown,10392.00,6136.0
125,0.1520,2833.0,635300.0,2195.0,42.500,37.60,58361.0,631.0,Sunnydale,33062.00,5028.0
126,0.5130,4069.0,864042.0,4244.0,44.500,43.10,125463.0,2116.0,Sunnyside,16196.00,8313.0
127,4.5350,47689.0,842910.0,42659.0,42.700,41.90,111999.0,1721.0,Sunset District,19923.00,90343.0
128,0.0760,816.0,848583.0,777.0,46.100,39.80,86385.0,1642.0,Sutro Heights,21111.00,1594.0
129,0.1710,3467.0,2376846.0,3722.0,46.800,38.20,75049.0,1828.0,Telegraph Hill,42154.00,7190.0
130,0.2780,3860.0,NaN,5149.0,43.600,41.90,15405.0,924.0,Tenderloin,32459.00,9011.0
131,0.0670,817.0,NaN,1276.0,36.600,36.40,78240.0,1499.0,The Hub,31082.00,2094.0
132,0.0900,1572.0,866523.0,1593.0,44.100,42.90,125730.0,1796.0,Transmission,35305.00,3165.0
133,0.6570,20.0,NaN,23.0,26.900,25.20,46185.0,1860.0,Treasure Island,67.00,44.0
134,0.1980,940.0,1747113.0,1112.0,40.800,42.40,171840.0,2376.0,Twin Peaks,10359.00,2052.0
135,4.0640,21625.0,1235172.0,22837.0,46.100,44.10,141441.0,2353.0,Twin Peaks West,10940.00,44463.0
137,0.1290,351.0,885339.0,347.0,43.100,44.80,139706.0,2770.0,Upper Market,5391.00,698.0
138,0.3760,6033.0,NaN,7456.0,44.700,42.60,64841.0,1497.0,Van Ness,35892.00,13490.0
139,1.2580,16406.0,553333.0,15072.0,42.400,39.00,71479.0,1192.0,Visitacion Valley,25031.00,31477.0
140,0.2260,1606.0,1194256.0,1583.0,46.800,44.90,165594.0,2735.0,West Portal,14088.00,3189.0
141,0.4650,2309.0,1260399.0,2511.0,49.700,47.20,168297.0,2488.0,West of Twin Peaks,10368.00,4821.0
142,0.3680,7563.0,1334029.0,6883.0,47.900,39.60,66992.0,1139.0,Western Addition,39272.00,14446.0
143,0.1420,861.0,905487.0,896.0,46.200,44.20,138202.0,2666.0,Westwood Highlands,12390.00,1757.0
144,0.1980,1139.0,892715.0,1125.0,49.700,45.80,133799.0,2335.0,Westwood Park,11438.00,2264.0
145,0.2450,7.0,NaN,8.0,26.900,25.20,46185.0,1860.0,Yerba Buena Island,65.00,16.0
146,0.2400,3592.0,1615729.0,3422.0,37.900,38.40,102405.0,1933.0,Zion District,29235.00,7015.0
6,1.3480,14934.0,512311.5,14463.0,38.650,36.00,70726.0,1188.0,Bayview,9110.50,29398.0
9,0.5310,25097.0,974149.5,25997.0,39.125,38.35,123137.5,1978.0,Bernal Heights,21183.25,51096.0
4,0.0700,657.0,NaN,732.0,47.050,43.05,131137.0,1591.0,Balboa Terrace,10973.00,1391.0
2,0.0845,1187.0,1428458.0,1304.0,48.200,48.40,139017.0,2014.0,Aquatic Park / Ft. Mason,11788.00,2492.0
28,0.1720,8029.0,NaN,9334.0,34.700,39.30,45761.5,1298.0,Downtown / Union Square,29654.00,17364.0
32,0.5060,5602.0,NaN,8189.0,46.350,43.65,63703.0,1050.0,Financial District,13832.50,13794.0

In [45]:
# Export demographic here, then import in the other notebook and merge before plotting.  
demographic.to_csv("demographic.csv")

--------

# III. Scraping - Events and Festivals

In [20]:
url_pride = "https://en.wikipedia.org/wiki/San_Francisco_Pride"
response = requests.get(url_pride)
response.raise_for_status

pride_bs = BeautifulSoup(response.text, 'lxml')

pride_table = pride_bs.find_all(name = "table", attrs={'class':'wikitable'})

In [21]:
#type(pride_table[0])
# The table is the first element

rows = pride_table[0].find_all(name = "tr")

# The first row is the header
#print rows[0]
#for colname in rows[0].find_all(name = "th"):
#    print colname.text

colnames = [colname.text for colname in rows[0].find_all(name = "th")]
print colnames

#pride = [{colname, []} for colname in colnames]
#print pride

[u'Year', u'Dates', u'Festival name', u'Theme', u'Estimated attendance', u'Notes']

In [22]:
years = []
dates = []
attendance = []

for row in rows[1:]:
    cells = row.find_all(name = "td")
        
    years.append(cells[0].text)
    dates.append(cells[1].text)
    attendance.append(cells[4].text)
    
assert(len(years) == len(dates) == len(attendance))

In [23]:
pride = pd.DataFrame.from_dict({"year": years,
                                "date": dates,
                                "attendance": attendance})

pride.year = pd.to_numeric(pride.year)

# Remove unused years
pride = pride[pride.year > 2007]

pride

         attendance        date  year
38  1.2 million[25]  June 28–29  2008
39  1.2 million[26]  June 27–28  2009
40  1.2 million[27]  June 26–27  2010
41    1 million[28]  June 25–26  2011
42                   June 23–24  2012
43      1.5 Million  June 29–30  2013
44      1.7 million  June 28–29  2014
45      1.8 million  June 27–28  2015
46              TBD  June 25-26  2016

In [25]:
startdates = [d[:-3] for d in pride.date]
enddates = [d[:4] + d[-2:] for d in pride.date]
startdatetimes = []
enddatetimes = []

for sdate, edate, year in zip(startdates, enddates, pride.year):
    startdatetimes.append(sdate + " " + str(year))
    enddatetimes.append(edate + " " + str(year))
    
pride["start_date"] = pd.to_datetime(startdatetimes)
pride["end_date"] = pd.to_datetime(enddatetimes)
#pride["datetimes"] = [pd.date_range(dt, periods=2) for dt in startdatetimes]
pride

         attendance        date  year start_date   end_date
38  1.2 million[25]  June 28–29  2008 2008-06-28 2008-06-29
39  1.2 million[26]  June 27–28  2009 2009-06-27 2009-06-28
40  1.2 million[27]  June 26–27  2010 2010-06-26 2010-06-27
41    1 million[28]  June 25–26  2011 2011-06-25 2011-06-26
42                   June 23–24  2012 2012-06-23 2012-06-24
43      1.5 Million  June 29–30  2013 2013-06-29 2013-06-30
44      1.7 million  June 28–29  2014 2014-06-28 2014-06-29
45      1.8 million  June 27–28  2015 2015-06-27 2015-06-28
46              TBD  June 25-26  2016 2016-06-25 2016-06-26

In [36]:
def parse_attendance(attendance_str):
    """
    Parse the attendance strings in the table in the Wikipedia page for the Pride parade. 
    Returns a float or None if the string cannot be parsed.
    """
    
    if "million" in attendance_str.lower():
        # Multiply by 1000000 and remove the string "million"
        return float(attendance_str.split(" ")[0]) * 1000000
    
    else:
        return None

        
pride["attendance_num"] = [parse_attendance(x) for x in pride.attendance]
pride = pride.reset_index()
pride

,level_0,index,attendance,date,year,start_date,end_date,attendance_num,StartNoTime,EndNoTime
0,0,38,1.2 million[25],June 28–29,2008,2008-06-28,2008-06-29,1200000.0,2008-06-28,2008-06-29
1,1,39,1.2 million[26],June 27–28,2009,2009-06-27,2009-06-28,1200000.0,2009-06-27,2009-06-28
2,2,40,1.2 million[27],June 26–27,2010,2010-06-26,2010-06-27,1200000.0,2010-06-26,2010-06-27
3,3,41,1 million[28],June 25–26,2011,2011-06-25,2011-06-26,1000000.0,2011-06-25,2011-06-26
4,4,42,,June 23–24,2012,2012-06-23,2012-06-24,NaN,2012-06-23,2012-06-24
5,5,43,1.5 Million,June 29–30,2013,2013-06-29,2013-06-30,1500000.0,2013-06-29,2013-06-30
6,6,44,1.7 million,June 28–29,2014,2014-06-28,2014-06-29,1700000.0,2014-06-28,2014-06-29
7,7,45,1.8 million,June 27–28,2015,2015-06-27,2015-06-28,1800000.0,2015-06-27,2015-06-28
8,8,46,TBD,June 25-26,2016,2016-06-25,2016-06-26,NaN,2016-06-25,2016-06-26

### Outside Lands Music and Arts Festival

In [4]:
url_ol = "https://en.wikipedia.org/wiki/Outside_Lands_Music_and_Arts_Festival"
response = requests.get(url_ol)
response.raise_for_status

ol_bs = BeautifulSoup(response.text, 'lxml')


# Years are in h3
h3 = ol_bs.find_all(name = "h3")

ol = []

for h in h3:
    span = h.find_all(name = "span", attrs={"class":"mw-headline"})
    
    # If there is a span in the h3
    if span:
        year = span[0].text
        #print year 
        
        check_p = True
        
        #dates = []
        
        for sibling in h.find_next_siblings(limit=5):
            
            # Days are in h4 or p
            if sibling.name == "h4":
                #print "h4" + "\t" + sibling.text
                ol.append([year, sibling.text.replace(u"\u2013", "-").replace("[edit]","")])
                # If an h4 was found, stop looking for p
                check_p = False
                
            elif sibling.name == "p" and check_p:
                #print check_p
                #print "p" + "\t" + sibling.text
                ol.append([year, sibling.text.replace(u"\u2013", "-")])
                # Formatting for 2011+ uses the date in a p tag
                if "August" in sibling.text:
                    break
                
        #print "\n"
        #ol[str(year)] = dates

ol

[[u'2008', u'Friday August 22'],
 [u'2008', u'Saturday August 23'],
 [u'2008', u'Sunday August 24'],
 [u'2009', u'Friday August 28'],
 [u'2009', u'Saturday August 29'],
 [u'2010', u'Saturday August 14'],
 [u'2010', u'Sunday August 15'],
 [u'2011', u'August 12-14'],
 [u'2012', u'August 10-12'],
 [u'2013', u'August 9-11'],
 [u'2014', u'August 8-10'],
 [u'2015', u'August 7-9'],
 [u'2016', u'August 5-9']]

In [5]:
# Separate the date ranges and fix the formatting

ol2 = []
for year_and_date in ol:
    
    date_split = year_and_date[1].split()
    month = date_split[0]
    if len(date_split) > 2:
        # keep the year
        year_and_date_new = [year_and_date[0]]
        year_and_date_new.extend(date_split[1:])
        ol2.append(year_and_date_new)
    else:
        days = date_split[1].split("-")
        for day in days:
            # keep the year
            year_and_date_new = [year_and_date[0]]
            year_and_date_new.append(month)
            year_and_date_new.append(day)
            ol2.append(year_and_date_new)

ol2

[[u'2008', u'August', u'22'],
 [u'2008', u'August', u'23'],
 [u'2008', u'August', u'24'],
 [u'2009', u'August', u'28'],
 [u'2009', u'August', u'29'],
 [u'2010', u'August', u'14'],
 [u'2010', u'August', u'15'],
 [u'2011', u'August', u'12'],
 [u'2011', u'August', u'14'],
 [u'2012', u'August', u'10'],
 [u'2012', u'August', u'12'],
 [u'2013', u'August', u'9'],
 [u'2013', u'August', u'11'],
 [u'2014', u'August', u'8'],
 [u'2014', u'August', u'10'],
 [u'2015', u'August', u'7'],
 [u'2015', u'August', u'9'],
 [u'2016', u'August', u'5'],
 [u'2016', u'August', u'9']]

In [6]:
ol_dates = pd.to_datetime([" ".join(date) for date in ol2])
ol_dates

DatetimeIndex(['2008-08-22', '2008-08-23', '2008-08-24', '2009-08-28',
               '2009-08-29', '2010-08-14', '2010-08-15', '2011-08-12',
               '2011-08-14', '2012-08-10', '2012-08-12', '2013-08-09',
               '2013-08-11', '2014-08-08', '2014-08-10', '2015-08-07',
               '2015-08-09', '2016-08-05', '2016-08-09'],
              dtype='datetime64[ns]', freq=None)

In [10]:
ol_dates_df = pd.DataFrame({"Festival_Date": ol_dates})
ol_dates_df.to_csv("ol_dates.csv")

# Events Plots

Grab all of June and group by day to get count of requests, then add boolean pride or not

In [31]:
streetJune = street.loc[street["Opened"].dt.month == 6]
streetJune["DateOpened"] = streetJune["Opened"].dt.date # Yells at you

# http://www.sfpride.org/parade/
prideNeighs = ["South of Market", "Tenderloin", "Financial District", "Downtown / Union Square", "Civic Center"]
streetJune = streetJune.loc[streetJune.Neighborhood.isin(prideNeighs)]

JuneDayReqs = streetJune.groupby(by = "DateOpened").count().CaseID
pride["StartNoTime"] = pride["start_date"].dt.date 
pride["EndNoTime"] = pride["end_date"].dt.date 
JuneRequests = pd.DataFrame({"ReqCount": JuneDayReqs})
JuneRequests = JuneRequests.reset_index()
JuneRequests["Pride"] = [row in pride.StartNoTime.values for row in JuneRequests.DateOpened]

/home/tgordon/.local/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [32]:
streetJune.head()

,CaseID,Opened,Closed,Status,Responsible Agency,Address,Category,Request Type,Request Details,Source,...,Females,HousePrice,Males,MedAgeF,MedAgeM,MedHouseholdIncome,MedRent,PeoplePerSqMi,Population,DateOpened
19953,441365,2009-06-01 05:59:27,2009-06-03 06:11:11,Closed,DPW Ops Queue,"34 SHERIDAN ST, SAN FRANCISCO, CA, 94103",Street and Sidewalk Cleaning,Illegal_Dumping,Furniture,Voice In,...,4643.0,NaN,6977.0,40.00,39.60,92455.0,1047.0,18297.0,11623.0,2009-06-01
19954,441366,2009-06-01 06:04:06,2009-06-02 08:10:47,Closed,DPW Ops Queue,Intersection of 6TH ST and NATOMA ST,Street and Sidewalk Cleaning,Street_Cleaning,Garbage,Voice In,...,4643.0,NaN,6977.0,40.00,39.60,92455.0,1047.0,18297.0,11623.0,2009-06-01
19961,441383,2009-06-01 07:07:34,2009-06-02 08:10:45,Closed,DPW Ops Queue,Intersection of GOLDEN GATE AVE and GOUGH ST,Street and Sidewalk Cleaning,Sidewalk_Cleaning,Furniture,Voice In,...,6382.0,NaN,7892.0,44.70,42.60,64841.0,1488.0,36530.0,14275.0,2009-06-01
19966,441393,2009-06-01 07:23:06,2009-06-03 06:11:01,Closed,DPW Ops Queue,"519 STEVENSON ST, SAN FRANCISCO, CA, 94103",Street and Sidewalk Cleaning,Sidewalk_Cleaning,Garbage,Voice In,...,4643.0,NaN,6977.0,40.00,39.60,92455.0,1047.0,18297.0,11623.0,2009-06-01
20009,441488,2009-06-01 09:23:58,2009-06-11 07:10:53,Closed,DPW Ops Queue,"160 PINE ST, SAN FRANCISCO, CA, 94111",Street and Sidewalk Cleaning,Sidewalk_Cleaning,Sidewalk_Cleaning,Voice In,...,5602.0,NaN,8189.0,46.35,43.65,63703.0,1050.0,13832.5,13794.0,2009-06-01

In [33]:
pride_merged_start = JuneRequests.merge(right = pride, right_on="StartNoTime", left_on="DateOpened")
pride_merged_end = JuneRequests.merge(right = pride, right_on="EndNoTime", left_on="DateOpened")
cols = ["DateOpened", "ReqCount", "attendance_num", "StartNoTime", "EndNoTime"]
pride_merged_start = pride_merged_start[cols]
pride_merged_end = pride_merged_end[cols]
pride_merged = pd.concat([pride_merged_start, pride_merged_end])
pride_merged["Year"] = [t.year for t in pride_merged.StartNoTime]
req_year = pride_merged.groupby(by="Year").sum()
req_year.reset_index(inplace=True)
pride_merged_final = pride_merged_start
pride_merged_final["Year"] = [t.year for t in pride_merged_final.StartNoTime]
pride_merged_final = pride_merged_final.merge(req_year, on = "Year")
pride_merged_final = pride_merged_final[["DateOpened", "ReqCount_y", "attendance_num_x", "Year","StartNoTime", "EndNoTime"]]
pride_merged_final

   DateOpened  ReqCount_y  attendance_num_x  Year StartNoTime   EndNoTime
0  2009-06-27          39         1200000.0  2009  2009-06-27  2009-06-28
1  2010-06-26          61         1200000.0  2010  2010-06-26  2010-06-27
2  2011-06-25          63         1000000.0  2011  2011-06-25  2011-06-26
3  2012-06-23          56               NaN  2012  2012-06-23  2012-06-24
4  2013-06-29          37         1500000.0  2013  2013-06-29  2013-06-30
5  2014-06-28          62         1700000.0  2014  2014-06-28  2014-06-29
6  2015-06-27          68         1800000.0  2015  2015-06-27  2015-06-28
7  2016-06-25         108               NaN  2016  2016-06-25  2016-06-26

In [43]:
pride_merged_final.to_csv("pride.csv")